.update-form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
/* height:100vh; */

height: 100vh
}

.from-wrpapper{
    border: 1px solid green;
    padding: 25px;
    
   
}